*{
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  color: black;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}


.navbar {
  display: flex;
  font-weight: bolder;
  font-size: 2vw;
  font-family: 'Monoton', cursive;
  padding-top: 0.5vw;
  color: black;
  padding-block-end: 0%;
  background-color: rgb(160, 153, 153);
  border-radius: 1.5vw;
  width: 97vw;
  padding-bottom: 0.7vw;
}

li {
  margin-right: 2vw;
  list-style: none;
  margin-block-end: 0%;
}

a {
  text-decoration: none;
}

a:link,
a:visited {
  color: black;
}

a:hover {
  color: rgb(223, 218, 218);
}

.food1 a:hover {
  color: purple;
}


img[src="Images/banner-2.jpg"] {
  width: 98.1vw;
  border-radius: 1.5vw;
  margin-top: 0.5vw;
  opacity: 1000;
}

.image a>img:hover {
  transform: scale(1.3);
  margin-left: 2vw;
}

#menu {
  font-family: 'Monoton', cursive;
  font-weight: 600;
  font-size: 2.3vw;
  margin-left: 1vw;
}

#menu li {
  margin-top: 1vw;
}

.food1 {
  padding-inline-start: 2vw;
  width: 20vw;
}

.contact>a {

  margin-top: 1vw;
}

.food1 a {

  color: black;
}

.image h3 {
  font-family:Georgia, 'Times New Roman', Times, serif;
  font-size: 2.5vw;
  font-weight: bolder;
  text-align: center;
}

.contact p {

  font-size: 2.1vw;
  margin-block-start: 0%;
}

.navbar {

  color: black;
}